kaggle.json
# misc
.DS_Store
# Ignore Python bytecode and cache directories
__pycache__/
*.pyc
*.pyo

# Other gitignore entries (optional)
*.log
*.env
*.DS_Store 


env* 

data/CheXpert-v1.0-small/*
!data/CheXpert-v1.0-small/.gitkeep

src/simclr/test.py
